{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <div class="addAGift">
            <span class="addAGift-btn">
                 <i class="fas fa-plus"></i>
            </span>Ajouter un cadeau

        </div>
        <div id="container-form-addGift">
            <h2>Ajouter un cadeau</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

      <ul id="self-giftlist">
            {% for gift in gifts %}
                <li class="solo_gift" id="gift-{{ gift.id }}">
                    <div class="solo_gift-head">
                        <h3 class="gift-name" data-gift-id="{{ gift.id }}"> {{  gift.name }}</h3>
                    </div>
                    <div class="solo_gift-body" data-gift-id="{{ gift.id }}">
                        <p>{{  gift.description }}<br>
                        <p>Lien vers le cadeau : <a href"{{ gift.source }}">Cliquer ici</a></p>
                    </div>
                    <div class="solo_gift-footer" data-gift-id="{{ gift.id }}">
                        {% if gift.updatedAt is not null %}
                            <h5>Mis à jour le: {{ gift.updatedAt|date("d/m/Y") }}</h5>
                        {% else %}
                            <h5>Créer le : {{ gift.createdAt|date("d/m/Y") }}</h5>
                        {% endif %}
                    </div>
                    <div class="solo_gift-edit">
                        <a href="{{ path('editMyGift', {'id' : gift.id}) }}" class="aEditMyGift" data-gift-id="{{ gift.id }}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="" class="aDeleteMyGift"><i class="fas fa-trash-alt"></i></a>
                    </div>

                <div class="editMyGift" data-gift-id="{{ gift.id }}">

                </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

